mixin picture(imageClass, imageName, imageAlt)
	picture
		source(srcset='assets/img/'+imageName+'.jpg 1x, assets/img/'+imageName+'@2x.jpg 2x', media='(max-width: 575px)')
		source(srcset='assets/img/'+imageName+'.webp 1x, assets/img/'+imageName+'@2x.webp 2x', media='(max-width: 575px)')
		source(type='image/webp' srcset='assets/img/'+imageName+'.webp 1x, assets/img/'+imageName+'@2x.webp 2x')
		img(class= imageClass src='assets/img/'+imageName+'.jpg' srcset='assets/img/'+imageName+'.jpg 1x, assets/img/'+imageName+'@2x.jpg 2x' alt= imageAlt)

mixin picturePng(imageClass, imageName, imageAlt)
	picture
		source(srcset='assets/img/'+imageName+'.jpg 1x, assets/img/'+imageName+'@2x.png 2x', media='(max-width: 575px)')
		source(srcset='assets/img/'+imageName+'.webp 1x, assets/img/'+imageName+'@2x.webp 2x', media='(max-width: 575px)')
		source(type='image/webp' srcset='assets/img/'+imageName+'.webp 1x, assets/img/'+imageName+'@2x.webp 2x')
		img(class= imageClass src='assets/img/'+imageName+'.jpg' srcset='assets/img/'+imageName+'.png 1x, assets/img/'+imageName+'@2x.png 2x' alt= imageAlt)


mixin socialLinks
	ul.social
		-
			let socialLinks = [
				{cssClass : 'facebook', svgLink: '#facebook', target : 'https://www.facebook.com/', name : 'Facebook'},
				{cssClass : 'twitter', svgLink: '#twitter', target : 'https://www.twitter.com/', name : 'Twitter'},
				{cssClass : 'google', svgLink: '#googlePlus', target : 'https://www.google.com/', name : 'Google+'},
				{cssClass : 'linkedin', svgLink: '#linkedin', target : 'https://www.linkedin.com/', name : 'Linkedin'},
				{cssClass : 'reddit', svgLink: '#reddit', target : 'https://www.reddit.com/', name : 'Reddit'},
				{cssClass : 'youtube', svgLink: '#youtube', target : 'https://www.youtube.com/', name : 'YouTube'},
			]
		each item in socialLinks
			li.social-item
				a.social-link(href= item.target target='_blank' title= item.name)
					span.visually-hidden= item.name
					svg.social-icon(class= 'icon-' + item.cssClass)(width='30' height='30')
						use(xlink:href='assets/img/icons.svg' + item.svgLink)


mixin burger
	button.nav-btn.burger(aria-label='menu')
		span.burger-line.nav-btn__top
		span.burger-line.nav-btn__middle
		span.burger-line.nav-btn__bottom
