extends ../layouts/page

block variables
    - const lang = 'en';

    - const pageTitle = 'Some service';

block append head

block content
    include ../components/__top
    include ../components/__tags
    include ../components/__posts
    include ../components/__offer

block controls

