section.offer
	.container.offer-content
		h2.offer-title Sign up today – 7 day money back guarantee
		ul.offer-list
			li.offer-item
				p.offer-item__title Monthly
				.offer-item__price.price
					p
						span.price-mark $
						span.price-count 6.95
						span.price-period /mo.
				p.offer-item__desc.desc Includes all VPN features.
				button.btn.btn-transparent.offer-item__btn Sign Up
			li.offer-item.active
				p.offer-item__title Two years
				.offer-item__price.price
					P
						span.price-mark $
						span.price-count 2.91
						span.price-period /mo.
				p.offer-item__desc.desc
					span.desc-old $166.80
					|&#32;
					span.desc-new $69.95
					span.desc-txt per two years
						br
						span Save 58%*
				button.btn.btn-solid.offer-item__btn Sign Up
			li.offer-item
				p.offer-item__title Yearly
				.offer-item__price.price
					p
						span.price-mark $
						span.price-count 3.33
						span.price-period /mo.
				p.offer-item__desc.desc
					span.desc-old $83.40
					|&#32;
					span.desc-new $39.95
					span.desc-txt per year
						br
						span Save 52%*
				button.btn.btn-transparent.offer-item__btn Sign Up
		.offer-payments
			p.offer-payments__title Ways to pay:
			ul.offer-payments__list
				li.offer-payments__item
					+picturePng('offer-payments__img', 'visa', 'visa')
				li.offer-payments__item
					+picturePng('offer-payments__img', 'mastercard', 'mastercard')
				li.offer-payments__item
					+picturePng('offer-payments__img', 'amex', 'amex')
				li.offer-payments__item
					+picturePng('offer-payments__img', 'paypal', 'paypal')
				li.offer-payments__item
					+picturePng('offer-payments__img', 'bitcoin', 'bitcoin')
				li.offer-payments__item
					+picturePng('offer-payments__img', 'ok-pay', 'ok-pay')
				li.offer-payments__item
					+picturePng('offer-payments__img', 'amazon', 'amazon')
		.offer-wrap
			a.offer-wrap__link(href='#' title='How to pay anonymously')
				span How to pay anonymously
				svg.icon(width='15' height='10')
					use(xlink:href='assets/img/icons.svg#arrow')
			a.offer-wrap__link(href='#' title='Redeem gift card')
				span Redeem gift card
				svg.icon(width='15' height='10')
					use(xlink:href='assets/img/icons.svg#arrow')
