section.tags
	h2.visually-hidden Tags
	.container.tags-content
		p.tags-title Tags:
		ul.tags-list
			-
				const tags = [
					{link: '#', name: 'Bitcoin' },
					{link: '#', name: 'Bittorrent' },
					{link: '#', name: 'IRC' },
					{link: '#', name: 'News' },
					{link: '#', name: 'Privacy' },
					{link: '#', name: 'Programming' },
					{link: '#', name: 'Security' },
				]

			each tag in tags
				li.tags-item
					a.tags-link(href=tag.link title=tag.name)=  tag.name

		.tags-wrap
			a.tags-wrap__link(href='#' title='Team') Team
			a.tags-wrap__link(href='#' title='Contact') Contact
