section.top
	.container
		.post.top-content
			a.post-link(href='#' title='TV Addons: Legal battle against Canadian media giants demonstrates severe consequences facing developers accused of copyright infringement')
			+picture('post-img top-img', 'top', 'TV addons')
			.post-wrap.top-wrap
				h2.post-title.top-title TV Addons: Legal battle against Canadian media giants demonstrates severe consequences facing developers accused of copyright infringement
				.post-legend.top-legend
					p.post-author.top-author Danica Sergison
					p.post-date.top-date JUL 08, 2018
				ul.post-tags.top-tags
					li.post-tags__item.top-tags__item
						object
							a.post-tags__link.top-tags__link(href='#' title='Copyright') Copyright
							|,&nbsp;
					li.post-tags__item.top-tags__item
						object
							a.post-tags__link.top-tags__link(href='#' title='News') News
							|,&nbsp;
					li.post-tags__item.top-tags__item
						object
							a.post-tags__link.top-tags__link(href='#' title='Open source') Open source
							|,&nbsp;
					li.post-tags__item.top-tags__item
						object
							a.post-tags__link.top-tags__link(href='#' title='Privacy') Privacy
				.post-comments.top-comments
					svg.post-comments__icon.comments-icon.top-comments-icon(width='11' height='11')
						use(xlink:href='assets/img/icons.svg#comments')
					span 0
